body {
    background-image: url('windows.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }

  .pismo{ 
    color: black;
    font-size: 30px;
  }

  .workers img {
    width: 800px;
  }

.pozadi {
    background-color: lightblue;
}
h2, h1, p {
    text-align: center;
    color:black;
    font-weight: bold;
}
footer {
    text-align: center;
    background-color: lightyellow;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
.zarovnani {
    margin-top: 100px;
}
.bagr {
    margin-left: 600px;
    margin-top: 170px;
}
.buldozer {
    margin-left: 800px;
    margin-top: 190px;
}
.workers {
    margin-left: 270px;
}

@media only screen and (max-width: 600px) {
}