body {
    background: url("windows.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100%,100%;
    background-position: center;
    
}
.pozadi {
    background-color: lightblue;
}
h2, h1, p {
    text-align: center;
    color:black;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: lightyellow;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
